<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input  [(ngModel)]="carro.nome" label="NOME" labelPlacement="floating" placeholder="insira aqui"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="carro.modelo" label="MODELO" labelPlacement="floating" placeholder="insira aqui">  </ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="carro.ano" label="ANO" labelPlacement="floating" placeholder="insira aqui">  </ion-input>
    </ion-item>

    <ion-button expand="block" (click)="salvar()">encaminhar</ion-button>
  </ion-list>

  
</ion-content>
