<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-button routerLink="/cadastro">adicionar</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="lista-carros">
    <ion-item *ngFor="let item of dados" lines="none">
      <ion-label>{{ item.modelo }} - {{item.nome}} - {{item.ano}}</ion-label>

      <ion-button>
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-button color="danger" id="delete-alert" (click)="avisar(item.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
